<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Requirements</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
</head>
<body>
    <div class="col-md-offset-3 col-md-5" style="margin-top:100px">
        <h3 class="page-header text-primary text-center"><span class="fa fa-image">  Requirement 1 </span></h3>
        <br>
        <p>Number of employees hired for each job and department in 2021 divided by quarter. The table must be ordered alphabetically by department and job.</p>
        <br>
        {{data|safe}}
    </div>
</body>
</html>